@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  overflow: hidden;
}

h1 {
  text-align: center;
}

.container {
  display: block;
  border: none;
  border-radius: 1em;
  max-width: 50%;
  height: 80vh;
  margin: 0 auto;
  background-color: #f2f9ff;
  text-align: center;
}

button {
  font-size: 1.2rem;
  padding: 1em 2.5em;
  background-color: #824d9c;
  color: #fff;
  border: none;
  border-radius: .2em;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
  margin-top: 4em;
  margin-left: 1em;
  margin-right: 1em;
  transition: .4s all ease-in;
}

button:hover {
  cursor: pointer;
  background-color: #111;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 40%;
  height: 50vh;
  border: none;
  background-color: #fbf5ff;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 4em;
  transition: .4s all ease;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-container {
  display: block;
  max-width: 100%;
  height: 10vh;
}

.avatar {
  width: 80%;
  margin: 0 auto;
}

/* Modal */

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #f2f9ff;
  margin: 0 auto;
  padding: 1rem;
  border: none;
  border-radius: .4em;
  width: 40%;
  height: 50vh;
  display: block;
  position: fixed;
  left: 30%;
  top: 20%;
  z-index: 999;
}

.modal-content p {
  width: 80%;
  margin: 0 auto;
  padding: 1em 2em;
}

.is-visible {
  display: block;
}

/* modal close btn */

.modal-close-btn {
  position: absolute;
  left: 50%;
  top: 0;
  border: 0;
  background: none;
  color: #777;
  text-decoration: none;
  transition: .4s all ease-in-out;
}

.modal-close-btn:hover {
  cursor: pointer;
  font-weight: 700;
  color: #824d9c;
}